In [20]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sb
import warnings 
warnings.filterwarnings('ignore')

In [2]:
credit=pd.read_csv("credit_risk.csv")
credit.head(10)

,over_draft,credit_usage,credit_history,purpose,current_balance,Average_Credit_Balance,employment,location,personal_status,other_parties,...,property_magnitude,cc_age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad
5,no checking,36,existing paid,education,9055,no known savings,1<=X<4,2,male single,none,...,no known property,35,none,for free,1,unskilled resident,2,yes,yes,good
6,no checking,24,existing paid,furniture/equipment,2835,500<=X<1000,>=7,3,male single,none,...,life insurance,53,none,own,1,skilled,1,none,yes,good
7,0<=X<200,36,existing paid,used car,6948,<100,1<=X<4,2,male single,none,...,car,35,none,rent,1,high qualif/self emp/mgmt,1,yes,yes,good
8,no checking,12,existing paid,radio/tv,3059,>=1000,4<=X<7,2,male div/sep,none,...,real estate,61,none,own,1,unskilled resident,1,none,yes,good
9,0<=X<200,30,critical/other existing credit,new car,5234,<100,unemployed,4,male mar/wid,none,...,car,28,none,own,2,high qualif/self emp/mgmt,1,none,yes,bad

In [3]:
credit.describe()

,credit_usage,current_balance,location,residence_since,cc_age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [4]:
credit.columns

Index(['over_draft', 'credit_usage', 'credit_history', 'purpose',
       'current_balance', 'Average_Credit_Balance', 'employment', 'location',
       'personal_status', 'other_parties', 'residence_since',
       'property_magnitude', 'cc_age', 'other_payment_plans', 'housing',
       'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'class'],
      dtype='object')

In [5]:
credit.isna().sum()

over_draft                0
credit_usage              0
credit_history            0
purpose                   0
current_balance           0
Average_Credit_Balance    0
employment                0
location                  0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
cc_age                    0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
dtype: int64

In [8]:
independent= credit.columns.drop("class")

In [9]:
dependent=credit["class"]

## encoding

In [10]:

# we should not encode the class or target variable
encoded=pd.get_dummies(credit[in,dependent])
encoded["class"]=credit["class"]

In [12]:
from sklearn.model_selection import train_test_split
credit_train,credit_test=train_test_split(encoded,test_size=0.15)
display(credit_train.shape)
display(credit_test.shape)

(850, 62)

(150, 62)

In [14]:
from sklearn.linear_model  import LogisticRegression
mod=LogisticRegression()

In [17]:
independent= credit_train.columns.drop("class")
dependent=["class"]

In [18]:
dependent

['class']

In [21]:
mod.fit(credit_train[independent],credit_train[dependent])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [23]:
print("train accuracy")
display(mod.score(credit_train[independent],credit_train[dependent]))

print("test accuracy")
display(mod.score(credit_test[independent],credit_test[dependent]))

train accuracy

0.7952941176470588

test accuracy

0.7266666666666667

In [24]:
from sklearn.metrics import confusion_matrix

In [29]:
train_prediction=mod.predict(credit_train[independent])
test_prediction=mod.predict(credit_test[independent])
train_conf_matrix=confusion_matrix(credit_train[dependent],train_prediction)
test_conf_matrix=confusion_matrix(credit_test[dependent],test_prediction)

In [32]:
pd.DataFrame(train_conf_matrix,columns=mod.classes_,index=mod.classes_)

      bad  good
bad   132   115
good   59   544

In [33]:
pd.DataFrame(test_conf_matrix,columns=mod.classes_,index=mod.classes_)

      bad  good
bad    24    29
good   12    85

In [35]:
from sklearn.metrics import classification_report
print(classification_report(credit_train[dependent],train_prediction))

              precision    recall  f1-score   support

         bad       0.69      0.53      0.60       247
        good       0.83      0.90      0.86       603

   micro avg       0.80      0.80      0.80       850
   macro avg       0.76      0.72      0.73       850
weighted avg       0.79      0.80      0.79       850

In [36]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()

In [37]:
independent= credit_train.columns.drop("class")
dependent=["class"]

In [39]:
model.fit(credit_train[independent],credit_train[dependent])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [44]:
from sklearn.tree import export_graphviz

ModuleNotFoundError: No module named 'graphviz'

In [42]:
d=export_graphviz(model,out_file=None,feature_names=independent,class_names=model.classes_,filled=True,rounded=True)

In [43]:
graph=graphviz.Source(d)
graph

NameError: name 'graphviz' is not defined

In [45]:
print("train accuracy")
display(model.score(credit_train[independent],credit_train[dependent]))

print("test accuracy")
display(model.score(credit_test[independent],credit_test[dependent]))

train accuracy

1.0

test accuracy

0.7066666666666667